/*
Copyright 2025 The zb Authors
SPDX-License-Identifier: MIT
*/

@import "tailwindcss" source(none);
@source "../templates";

@layer components {
  .link {
    text-decoration: underline;
    color: var(--color-indigo-600);
    @variant visited {
      color: var(--color-purple-800);
    }
    @variant dark {
      color: var(--color-indigo-300);
      @variant visited {
        color: var(--color-purple-300);
      }
    }
  }
}

@utility scrollbar-gutter-auto {
  scrollbar-gutter: auto;
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

@utility scrollbar-gutter-both-edges {
  scrollbar-gutter: stable both-edges;
}
