{{ define "title" -}}
  Build {{ .ID }} • zb
{{- end }}

{{ define "main" }}
  <div class="mb-4">
    <h2
      class="inline text-lg font-bold md:text-2xl"
    >Build <span class="font-mono">{{ .ID }}</span></h2>
    <span class="ms-2 text-base md:text-xl">
      {{ if eq .Status "active" -}}
        <span class="rounded-full bg-stone-300 px-4 py-1 dark:bg-stone-700">In Progress</span>
      {{ else if eq .Status "success" -}}
        <span class="rounded-full bg-green-300 px-4 py-1 dark:bg-green-900">Success</span>
      {{ else if eq .Status "fail" -}}
        <span class="rounded-full bg-red-300 px-4 py-1 dark:bg-red-950">Failed</span>
      {{ else if eq .Status "error" -}}
        <span class="rounded-full bg-stone-300 px-4 py-1 dark:bg-stone-700">Error</span>
      {{ else -}}
        {{ .Status }}
      {{ end -}}
    </span>
  </div>
  <div>
    Started at
    {{ template "time" .StartedAt }}
  </div>
  {{- with .EndedAt }}
    {{- if .Valid }}{{ with .X }}
      <div>
        Ended at
        {{ template "time" . }}
        ({{ $.Duration.Truncate 1_000_000_000 }})
      </div>
    {{- end }}{{ end }}
  {{- end }}

  {{- with .Results }}
    <div class="overflow-x-auto w-full">
      <table class="my-4 w-full min-w-2xl table-fixed">
        <thead>
          <tr>
            <th
              scope="col"
              class="w-20 px-1 text-center font-bold"
            >Status</th>
            <th
              scope="col"
              class="px-1 text-left font-bold"
            >Derivation</th>
          </tr>
        </thead>
        <tbody>
          {{- range . }}
            <tr>
              <td class="text-center align-top">
                {{ template "status_icon" .Status }}
              </td>
              <th
                scope="row"
                class="px-1 text-left font-mono font-normal"
              >
                <a
                  href="/build/{{ $.ID }}/result?drvPath={{ .DrvPath }}"
                  class="link"
                >{{ .DrvPath.Base }}</a>
              </th>
            </tr>
          {{- end }}
        </tbody>
      </table>
    </div>
  {{- end }}
{{ end }}
